.event-list-item {
    width: 300px;
    height: fit-content;
    border: 1px solid;
    margin: 10px;
    overflow: hidden;

    border-radius: 10px;

    > span {
        display: block;
        width: 100%;
        padding: 10px;
    }
    .name {
        overflow: hidden;
        text-align: center;
        line-clamp: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        
    }
    .desc {
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
    }
}

td {
    display: table-cell;
    padding: 5px;
    //border: 1px dashed blue;
}